.mvn/
mvnw
mvnw.cmd
.idea/
.vscode/
*.iml
target/

customer/target/
fraud/target
eurekaserver/target
# Package files
*.jar

# OS specific files
.DS_Store
Thumbs.db

# Sensitive information
*.pem
*.key
*.crt

# Google Cloud specific files (adjust as needed)
.google/
google-credentials.json